CEREBRAS_API_KEY=
GEMINI_API_KEY=
TAVILY_API_KEY=

LANGCHAIN_TRACING_V2=false
LANGCHAIN_PROJECT=""
LANGCHAIN_API_KEY=""


SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=seguimiento.reporte.v1@gmail.com
SMTP_PASS=pppppppppppppppp
SENDER_NAME="REPORTES IA"
SENDER_ADDR=seguimiento.reporte.v1@gmail.com