__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env

*.log
app.log

*.sqlite3
*.db
*.sqlite
*sqlite-shm
*sqlite-wal
*sqlite-journal

.env

.vscode/

chroma_db/

documentation/

checkpoints.sqlite-shm
checkpoints.sqlite-wal