langchain
langchain-openai
langchain-core
langchain_community
langgraph 
langgraph-checkpoint-sqlite
langsmith
langchain_chroma
langchain_tavily
langchain_cerebras
langchain_text_splitters
langchain_google_genai
docx2txt
pypdf
python-multipart
fastapi
uvicorn
pydantic
python-dotenv
jinja2
google-generativeai
sqlalchemy
polars[all]
openpyxl
duckdb
pyarrow
chromadb
sqlalchemy
duckdb-engine
tabulate
markdown
ftfy==6.2.0
plotly==5.22.0
psutil
apscheduler
aiosmtplib
playwright==1.44.0
pyhtml2pdf